
@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Register" asp-action="Create" method="post">
    <!-- Input and Submit elements -->
    <div class="form-group">
        <label>@*<@Resources.Login*@</label>
        <input type="text" name="Login" value="" />
    </div>

</form>